* {
    border-radius: 0;
    font-family: 'FontAwesome, Roboto, Helvetica, Arial, sons-serif';
    font-size: 12pt;
    min-height: 0;
}

window#waybar {
    background: rgba(30,30,24,0);
    color: rgba(218,219,232, 0.85);
}

tooltip {
	background: #1E1E28;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #a4b9ef;
	}

#workspaces {
    background: rgba(30,30,24,0);
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 0;
    color: #B8BB26;
}

#workspaces button.focused {
    color: #FE8019;
}

#workspaces button.urgent {
    color: #F9C096;
}

#workspaces button:hover {
    background: rgba(30,30,24,0);
    border-color: rgba(30,30,24,0);
	color: #A4B9EF;
}

#clock, #battery, #pulseaudio, #workspaces, #mpd  {
	padding: 2px 10px;
    background: rgba(40,40,40,0.7);
    margin-top: 5px;
    margin-bottom: 5px;
}

#network {
    padding-left: 15px;
    padding-right: 2px;
    background: rgba(40,40,40,0.7);
    border-radius: 15px 0px 0px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#clock {
    padding-right: 15px;
    margin-right: 5px;
    border-radius: 0px 15px 15px 0px;
}

